
/* ====================== common css ===================== */
:root{
    --primary-color: #ffffff;
    --secondary-color: #f4f4f4;
    --background-color: #010003;
    --text-color: #ffe604;
    --font-family: 'Segoe UI', sans-serif;

    --progress-color-on: #ffe604;
    --progress-color-tow: #c9b500;
    --html-width: 90%;
    --css-width: 80%;
    --js-width: 70%;
    --react-width: 60%;
    --bootstrap-width: 80%;
    --tailwind-width: 85%;
    --github-width: 70%;
    --photoshop-width: 60%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    /* line-height: 1.6; */
}
.container {
  max-width: 1200px;
  margin: auto;
  /* padding: 0 20px; */
}


/* ====================== header area ===================== */
#header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    /* background-color: #076824; */
}
#header .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
}
#header .navbar ul {
    display: flex;
    list-style: none;
}
#header .navbar ul li {
    margin: 0 15px;
}
#header .navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 18px;
}
#header .navbar ul li a:hover {
    color: var(--primary-color);
}
#header .navbar button {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 24px;
    font-weight: bold;
}
#header .navbar button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* ====================== hero section ===================== */
/* ====================== left side ===================== */
#hero {
    /* min-height: calc(100vh - 90px); */
    height: 650px;
}
#hero .hero-container{
    height: 100%;
    /* background-color: green; */
}
#hero .items {
    /* border: 1px solid #e5a0a0; */
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#hero .items .left-side{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
#hero .items .left-side h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1.2;
}
#hero .items .left-side p {
    font-size: 30px;
    margin: 50px 0 80px 0;
    text-transform: capitalize;
}
.btn{
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: bold;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-right: 30px;
}
#hero .items .left-side .btn:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* ====================== right side ===================== */
#hero .items .right-side {
    /* border: 1px solid #eee; */
    width: 50%;
    height: 100%;
    /* background-color: peru; */
}
#hero .right-side .right-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero .items .right-side .image{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
}
#hero .items .right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero .items .social-icons {
    /* border: 1px solid var(--text-color); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 5px;
}
#hero .items .social-icons i {
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
    transition: color 0.3s ease;
}
#hero .items .social-icons i:hover {
    color: var(--text-color);
}

/* ====================== about section ===================== */
/* ====================== about items one ===================== */
#about {
    /* border: 1px solid var(--secondary-color); */
    width: 100%;
    height: 740px;
    padding: 60px 0 0 0;
}
#about .about-items-one h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
#about .about-items-one p {
    text-align: center;
    font-size: 20px;
    text-align: justify;
    padding: 20px 0;
    line-height: 1.6;
}
#about .about-items-tow {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    padding-top: 40px;
}
#about .personal-details {
    min-width: 45%;
    /* background-color: peru; */
    padding: 10px 0;
}
#about .details {
    margin: 40px 0 0 0;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}
#about .personal-details h3{
    padding: 10px;
    text-align: center;
}
#about .details ul{
    padding: 0;
    list-style: none;
} 

#about .my-interests {
    width: 45%;
    /* background-color: rgb(134, 104, 74); */
    padding: 10px 0;
}
#about .my-interests h3{
    text-align: center;
}
#about .my-interests .icon {
    margin: 40px 0 0 0;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
#about .my-interests .icon i {
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: center;
}
#about .my-interests .icon i:hover {
    color: var(--text-color);
}
#about .my-interests .lable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ====================== skills section ===================== */
/* ====================== technical skills ===================== */
#skills {
    /* border: 1px solid var(--secondary-color); */
    width: 100%;
    /* height: 740px; */
    /* background-color: rgb(65, 100, 100); */
}
#skills .skills-container {
    width: 100%;
    height: 100%;
    padding: 60px 0 50px 0;
}
#skills .skills-content {
    width: 100%;
    height: 100%;
}
#skills .skills-items-one h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
#skills .skills-items-one p {
    text-align: center;
    font-size: 20px;
    text-align: justify;
    padding: 20px 0;
    line-height: 1.6;
}
#skills .skills-items-tow {
    display: flex;
    justify-content: space-between;
    /* text-transform: capitalize; */
    padding-top: 40px;
}
#skills .technical-skills {
    min-width: 45%;
    /* background-color: peru; */
    padding: 10px 0;
    overflow: hidden;
}
#skills .technical-skills h3 {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
}

#skills .progress-container {
    font-weight: bold;
    margin: 20px 0;
    width: 100%;
}
#skills .skills-items-tow .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 50px;
    position: relative;
    margin: 10px 0;
    position: relative;
}
#skills .progress-bar .progress {
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#skills .progress-bar .dot {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
}
#skills .progress .progress-dot {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
}
#skills .progress .progress-dot-value {
    width: 70px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    color: black;
    position: relative;
}
#skills .progress .progress-dot-value span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#skills .html{
    background-color: var(--progress-color-on);
    width: var(--html-width);
}
#skills .html .html-value {
    border: 3px solid var(--progress-color-on);
}
#skills .html-dot{
    border: 7px solid var(--progress-color-on); 
}

#skills .css{
    background-color: var(--progress-color-tow);
    width: var(--css-width);
}
#skills .css .css-value{
    border: 3px solid var(--progress-color-tow);
}
#skills .css .css-dot{
    border: 7px solid var(--progress-color-tow);
}

#skills .js{
    background-color: var(--progress-color-on);
    width: var(--js-width);
}
#skills .js .js-value{
    border: 3px solid var(--progress-color-on);
}
#skills .js .js-dot{
    border: 7px solid var(--progress-color-on);
}

#skills .react{
    background-color: var(--progress-color-tow);
    width: var(--react-width);
}
#skills .react .react-value{
    border: 3px solid var(--progress-color-tow);
}
#skills .react .react-dot{
    border: 7px solid var(--progress-color-tow);
}

#skills .bootstrap{
    background-color: var(--progress-color-on);
    width: var(--bootstrap-width);
}
#skills .bootstrap .bootstrap-value{
    border: 3px solid var(--progress-color-on);
}
#skills .bootstrap .bootstrap-dot{
    border: 7px solid var(--progress-color-on);
}

#skills .tailwind{
    background-color: var(--progress-color-tow);
    width: var(--tailwind-width);
}
#skills .tailwind .tailwind-value{
    border: 3px solid var(--progress-color-tow);
}
#skills .tailwind .tailwind-dot{
    border: 7px solid var(--progress-color-tow);
}

#skills .github{
    background-color: var(--progress-color-on);
    width: var(--github-width);
}
#skills .github .github-value{
    border: 3px solid var(--progress-color-on);
}
#skills .github .github-dot{
    border: 7px solid var(--progress-color-on);
}

#skills .photoshop{
    background-color: var(--progress-color-on);
    width: var(--photoshop-width);
}
#skills .photoshop .photoshop-value{
    border: 3px solid var(--progress-color-on);
}
#skills .photoshop .photoshop-dot{
    border: 7px solid var(--progress-color-on);
}


/* ====================== professional skills ===================== */

#skills .professional-skills {
    min-width: 45%;
    /* background-color: rgb(133, 108, 82); */
    padding: 10px 0;
}
#skills .prof-container {
    width: 100%;
    height: 100%;
}
#skills .prof-container h3 {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
}

/* ====================== project section ===================== */
#projects{
    padding: 60px 0 50px 0;
}
#projects .project-title h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
#projects .project-title p{
    text-align: center;
    font-size: 20px;
    text-align: justify;
    padding: 20px 0;
    /* line-height: 1.2; */
}
#projects .card{
    width: 100%;
    padding-top: 40px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    /* flex-direction: row; */
}
#projects .card-item{
    width: 350px;
    flex-grow: 0;
    flex-shrink: 0;
    /* border: solid 1px var(--text-color); */
}
#projects .card-item img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#projects .card-title{
    padding-top: 5px;
}
#projects .card-title p{
    padding: 5px 0;
    text-align: justify;
}
#projects .use-tch {
    display: inline-block;
    display: flex;
    gap: 20px;
    padding-top: 15px;
}
#projects .use-tch span{
    padding: 5px 15px;
    background-color: rgb(141, 141, 117);
    border-radius: 20px;
    color: rgb(238, 238, 3);
}
#projects .card-btn {
    padding: 30px 0 0 0;
    display: flex;
    gap: 30px;
}
#projects .card-btn :first-child{
    background-color: rgb(153, 153, 113);
    color: rgb(238, 238, 3);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: bold;
    text-transform: capitalize;
}
#projects .card-btn :last-child{
    text-decoration: none;
    color: rgb(238, 238, 3);
    text-transform: capitalize;
    border: solid 1px var(--text-color);
    text-align: center;
    padding: 8px 16px;
    border-radius: 6px;
}