
/* ====================== common css ===================== */
:root{
    /* --primary-bg-color: rgb(81, 74, 57); */
    --primary-bg-color: #504a39;
    --bg-color: #635c41;
    --text-color: #eed603e0;
    --hover-color: #ffe604;
    --font-family: 'Segoe UI', sans-serif;
    --small-font-size: 0.875rem;
    --font-size: 1.063rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    /* font-size: 1.063rem; */
    font-size: 1.125rem;
}

/* computer device font size */
h1 { 
    font-size: 5rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem ;
}
/* h4 { 
    font-size: 1.75rem;
    text-align: center;
    padding-bottom: 20px;
} */
h5 { 
    font-size: 1.5rem; 
}
h6 {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}
.about, .skills, .projects, .services, .contact {
    min-height: 740px;
    padding: 50px 0;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
h2 + p {
    text-align: justify;
    line-height: 1.2;
    padding: 50px 0 100px 0;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

/* ====================== header area ===================== */
  #header {
    width: 100%;
    /* position: sticky; */
    top: 0;
    z-index: 9999;
    background-color: var(--bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.055), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
#header .navbar .logo > h1 {
    font-size: clamp(28px, 3vw, 40px);
    font-weight: bold;
    cursor: pointer;
}
#header .navbar .logo > h1:hover {
    transform: rotateY(360deg);
    transition: 1s;
}
#header .navbar ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
#header .navbar ul li a {
    display: inline-block;
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    transition: .3s ease;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
}
/* list underline  */
#header li > a::after {
    content: '';
    height:1px;
    width: 70%;
    left: 50%;
    bottom: 8px;
    position: absolute;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s linear;
    background-color: var(--hover-color);
}
#header li > a:hover::after {
    transform: translateX(-50%) scaleX(1);
}
#header .navbar ul li > a:hover {
    transform: scale(1.2);
    transition: .3s;
    color: var(--hover-color);
}
/* Hamburger Menu Toggle  */
#menu-checkbox{
    display: none;
}
#header .navbar .menu-icon{
    font-size: 40px;
    cursor: pointer;
    display: none;
    padding: 0;
}
/* hire me btn  */
.hire-btn {
    position: relative;
    font-size: 24px;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    transition: color 0.4s ease-in-out;
}
.hire-btn a {
    position: relative;
    padding: 10px 15px;
    border: 1px solid var(--text-color);
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}
.hire-btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 0;
    background-color: var(--hover-color);
    transition: width 0.4s ease;
}
.hire-btn a:hover::before {
    width: 100%;
}
.hire-btn a span{
    position: relative;
    z-index: 1;
}
.hire-btn a:hover {
    color: #111;
}

/* ====================== hero section start ===================== */
/* left side content */
#hero {
    position: relative;
}
#hero .hero-items-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
#hero .left-side{
    width: 50%;
}
#hero .left-content{
    height: 100%;
    width: 100%;
}
#hero .left-side h1 {
    padding-top: 100px;
    text-transform: uppercase;
    line-height: 1.2;
}
#hero .typewriter:hover {
  animation-play-state: paused;
}
#hero .left-side h4 {
    width: 95%;
    display: flex;
    gap: 10px;
    margin: 50px 0 50px 0;
    text-transform: capitalize;
    font-size: clamp(18px, 3vw, 25px);
}
.left-content .hero-icons{
    display: none;
}
#hero .btn{
    padding: 5px 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 80px;
}
#hero .btn button{
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
}
#hero .btn a{
    transition: all 0.4s ease-in-out;
    padding: 8px 15px;
    display: inline-block;
}
#hero .btn button:last-child:hover i{
    transform: rotateX(360deg);
    transition: 1s;
}
#hero .left-side .btn a:hover {
    background-color: var(--hover-color);
    color: black;
}

/* right side content */
#hero .right-side{
    width: 55%;
    display: flex;
    justify-content: space-between;
}
#hero .right-side .image{
    position: relative;
    width: 90%;
}
#hero .image img {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}
#hero .image .fade-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(81, 74, 57), transparent);
    pointer-events: none;
}
#hero .hero-social-icons{
    display: flex;
    align-items: center;
}
#hero .hero-social-icons .hero-icon-grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#hero .hero-icon-grid div {
    border-radius: 50%;
    text-align: center;
    background-color: var(--bg-color);
    transition:  0.3s ease;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.247);
}
#hero .hero-icon-grid i {
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}
#hero .hero-icon-grid div:hover i {
    color: var(--hover-color);
    transform: rotateY(360deg);
    transition: 1s;
}

/* ====================== about section start ===================== */
#about {
    width: 100%;
}
#about .personal-details {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
/* personal information part one */
#about .details-part-one {
    min-width: 45%;
}
#about .details-container {
    margin: 20px 0 0 0;
    line-height: 1.3;
    font-size: var(--font-size);
    display: flex;
    justify-content: space-between;
}
#about .details-container ul{
    padding: 0;
    list-style: none;
}
/* personal information part tow  */
#about .my-interests {
    width: 45%;
}

#about .my-interests .icon {
    padding: 20px 0 0 0;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: var(--font-size);
}
#about .my-interests .icon i {
    font-size: 28px;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease;
}
#about .my-interests .lable:hover i{
    transform: rotate(360deg);
    transition: 1s;
}
#about .my-interests .lable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ====================== skills section start ===================== */
/*  technical skills */
#skills .tech-container {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size);
}
#skills .technical-skills {
    min-width: 50%;
}
#skills .progress-container {
    width: 100%;
    padding-bottom: 5px;
    overflow: hidden;
    font-size: var(--font-size);
}
#skills .progress-bar {
    width: 100%;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50px;
    position: relative;
    margin: 10px 0;
    position: relative;
}
#skills .progress {
    height: 100%;
    border-radius: 50px;
}
#skills .progress-dot {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#skills .progress-dot-value {
    padding: 0 10px;
    background-color: #ffffff;
    border-radius: 20px;
    color: black;
    font-size: var(--font-size);
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}
#skills .html{
    width: 80%;
    background-color: var(--text-color);
}
#skills .html .html-value {
    border: 3px solid var(--text-color);
}
#skills .html-dot{
    border: 7px solid var(--text-color);
}
/* professional skills */
#skills .professional-skills {
    width: 45%;
}
#skills .prof-container {
    width: 100%;
    height: 100%;
}

/* ====================== project section start ===================== */
#projects .card-conteinar{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-between;
}

#projects .card img{
    width: 100%;
    object-fit: cover;
}
#projects .card-title{
    padding-top: 5px;
    
}
#projects .card-description{
    margin-top: 10px;
    text-align: justify;
    overflow: auto;
    height: 80px;
    scrollbar-width: thin;
    scrollbar-color: white var(--primary-bg-color) ;
}
#projects .card-description p{
    width: 98%;
}
#projects .use-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}
#projects .use-tech span{
    padding: 5px 15px;
    background-color: var(--primary-bg-color);
    border-radius: 20px;
    text-align: center;
}
#projects .card-btn {
    padding: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-weight: bold;
}
/* #projects .card:hover {
    transform: scale(1.02);
    transition: 0.3s;
} */
#projects .card-btn a:first-child{
    background-color: var(--primary-bg-color);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    transition: 0.3s;
    text-transform: capitalize;
}
#projects .card-btn a:first-child:hover{
    background-color: var(--hover-color);
    color: black;
}
#projects .card-btn a:last-child{
    text-decoration: none;
    text-transform: capitalize;
    border: solid 1px var(--text-color);
    text-align: center;
    padding: 8px 16px;
    border-radius: 6px;
    transition: 0.5s ease;
}
#projects .card-btn a:last-child:hover{
    color: black;
    background-color: var(--hover-color);
}

/* ====================== services section start ===================== */
#services .service-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    text-align: center;
}
#services .service-card{
    width: 360px;
    border-radius: 8px;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    transition: 0.2s;
}
#services .service-card:hover {
    transform: scale(1.02);
    transition: 0.2s;
}
#services .service-card .icon{
    font-size: 50px;
    text-align: center;
}
#services .service-card h2{
    text-align: center;
    padding-top: 20px;
}
#services .service-card p{
    padding: 20px 0;
    text-align: justify;
}
/* ====================== contact section start ===================== */
.contact-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* contact info */
#contact .map-container{
    text-align: center;
    width: 45%;             
    height: 550px;
}
#contact .map-container iframe{
    width: 100%;
    height: 100%;
    border: 0;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
}
/* contact form  */
#contact .form-container{
    width: 45%;
    height: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    transition: 0.
    3s;
}
/* #contact .form-container:hover {
    transform: scale(1.02);
    transition: 0.3s;
} */
#contact .message-icon{
    font-size: 40px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    transition: .3s ease;
    margin-top: 20px;
    background-color: var(--primary-bg-color);
}
#contact .message-icon:hover i{
    transform: rotateY(360deg);
    transition: 0.8s;
}
#contact .contact-form {
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    text-align: left;
}
#contact .form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #dbb22bce;
    border-radius: 8px;
    font-size: var(--font-size);
    transition: 0.3s ease;
    background-color: transparent;
    color: var(--text-color);
}
#contact .form-group input:focus,
.form-group textarea:focus {
    outline: 1px solid var(--hover-color);
}
#contact .form-group input::placeholder,
.form-group textarea::placeholder {
  opacity: 0.6;
  color: var(--text-color);
}
#contact button[type="submit"] {
    margin: 20px 0 0 0;
    padding: 14px 20px;
    font-size: var(--font-size);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    background-color: #e9c600e3;
    color: black;
}
#contact button[type="submit"]:hover {
    background-color: var(--hover-color);
}

/* ====================== footer section start ===================== */
.footer {
    padding: 60px 20px 20px;
    background-color: var(--bg-color);
}
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    
}
.footer-about,
.footer-links,
.footer-contact {
    flex: 1 1 250px;
}
.footer .footer-about h6 {
    font-size: 24px;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    display: inline-block;
    transition: 0.3s ease;
}
.footer-links ul li a:hover {
    color: var(--hover-color);
    transform: scale(1.2);
    transition: 0.3s;
}
.footer-contact .call{
    display: flex;
    gap: 10px;
    font-size: var(--font-size);
    margin: 0 0 10px 0 ;
    cursor: pointer;
}

.footer-contact .call:hover i{
    color: var(--hover-color);
    transform: rotateY(360deg);
    transition: 1s;
}
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid var(--text-color);
    padding-top: 20px;
    font-size: var(--font-size);

}
.footer-bottom > p{
    text-align: center;
    font-size: var(--small-font-size);
}

/* navigator button  */
.naviget-btn a {
    position: absolute;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 80px;
    border-radius: 50%;
    z-index: 9999;
    background-color: var(--text-color);
    font-weight: bold;
    color: var(--bg-color);
    transition: 0.3s ease;
}
.naviget-btn i {
    font-size: 30px;
}
.naviget-btn a:hover {
    background-color: var(--hover-color);
}
.naviget-btn a:hover i{
    transform: rotateY(360deg);
    transition: 1s;
}
/* ====================== The End ===================== */
